<template>
        <li><span><a href="javascript:void(0);" v-on:click="go">{{list.name}}</a> ({{ list.members_count }})</span> - {{ list.address }}</li>
</template>

<script>
export default {
    name: 'MailingListItem',
    props: ['list'],
    data() {
       return {}
    },
    methods: {
        go() {
            this.$router.push({path: '/list/'+this.list.address })
        }
    }
}
</script>

<style scoped>
</style>
