<template>
    <div>
        <h2>MailingLists <button v-on:click="reload">Reload</button> <button v-on:click="showModal = true">Add Mailing List</button></h2>
        <p v-if="loading">Loading...</p>
        <p v-if="!loading && lists.length == 0">No lists!</p>
        <ul>
            <MailingListItem v-for="list in lists" :key="list.name" :list="list" />
        </ul>
        <Modal :showModal="showModal" v-if="showModal" @close="showModal = false">
            <!--
            you can use custom content here to overwrite
            default content
            -->
            <h3 slot="header">New Mailing List</h3>
            <div slot="body">
                <p>
                    Domain: <br/>
                    <DomainSelect :apiKey="apiKey" @domainChanged="newMailingList.domain = $event" />
                </p>
                <p>
                    Address:<br/>
                    <input size="57" type="text" v-model="newMailingList.address" placeholder="awesome-people" />@{{newMailingList.domain}}
                </p>
                <p>
                    Name:<br/>
                    <input size="57" type="text" v-model="newMailingList.name" placeholder="Awesome People" />
                </p>
            </div>
            <div slot="footer">
                <button @click="createNewMailingList">OK</button>
                <button @click="showModal = false">Cancel</button>
            </div>
        </Modal>
    </div>
</template>

<script>
import MailingListItem from "@/components/MailingList/MailingListItem.vue";
import DomainSelect from "@/components/Domain/DomainSelect.vue";
import Modal from "@/components/Modal/Modal.vue";
import axios from "axios";

export default {
  name: "MailingLists",
  props: ["apiKey"],
  data() {
    return {
      loading: false,
      lists: [],
      showModal: false,
      newMailingList: {
        domain: "",
        address: "",
        name: ""
      }
    };
  },
  watch: {
    apiKey() {
      this.reload();
    }
  },
  mounted() {
    this.reload();
  },
  methods: {
    reload() {
      if (this.apiKey) {
        this.loading = true;
        this.lists = [];
        var self = this;
        axios
          .post("/api/lists", { apiKey: this.apiKey })
          .then(
            function(response) {
              self.lists = response.data.data;
              self.loading = false;
            },
            function(response) {
              // Error
              self.loading = false;
              console.log(response.data);
            }
          );
      }
    },
    createNewMailingList() {
      var self = this;
      axios
        .post("/api/lists/new", {
          apiKey: this.apiKey,
          data: this.newMailingList
        })
        .then(
          function(response) {
            if (response.data.success) self.showModal = false;
            else alert(response.data.error);
            self.reload();
          },
          function(response) {
            // Error
            console.log(response.data);
          }
        );
    }
  },
  components: {
    MailingListItem,
    DomainSelect,
    Modal
  }
};
</script>

<style scoped>
</style>
