<template>
    <div class="mailingList">
        <h2>{{ listAddress }}</h2>
        <button v-on:click="showEmbedModal = true">Get embedding snippet</button>
        <Members :listAddress="listAddress" :apiKey="data.APIKey" />
        <Events :listAddress="listAddress" :domain="domain" :apiKey="data.APIKey" />
        <Modal :showModal="showEmbedModal" v-if="showEmbedModal" @close="showEmbedModal = false">
            <h3 slot="header">Embedding Snippet</h3>
            <div slot="body">
                <pre id="snippet">{{snippet}}</pre>
                Demo:
                <div v-html="snippet"></div>
            </div>
        </Modal>
    </div>
</template>

<script>
import Modal from "@/components/Modal/Modal.vue";
import Members from "@/components/Member/Members.vue";
import Events from "@/components/Events.vue";

export default {
  name: "MailingList",
  props: ["data"],
  data() {
    return {
      domain: "",
      listAddress: this.$route.params.listAddress,
      showEmbedModal: false
    };
  },
  computed: {
    snippet() {
      return (
        `
<form action="/subscribe" method="POST">
    <input type="hidden" name="token" value="` +
        this.data.UUID +
        `" />
    <input type="hidden" name="list" value="` +
        this.listAddress +
        `" />
    <!-- redirect field is optional -->
    <input type="hidden" name="redirect" value="<redirect-url>">
    <input type="email" name="email" placeholder="Email" />
    <button type="submit">Subscribe</button>
</form>
        `
      );
    }
  },
  mounted() {},
  methods: {},
  components: {
    Members,
    Events,
    Modal
  }
};
</script>

<style scoped>
#snippet {
  background: black;
  color: #ccc5b9;
  padding: 10px;
  overflow: scroll;
}
</style>
