<template>
    <div>
       <select v-on:change="listChanged">
            <option v-if="loading">Loading...</option>
            <option v-for="list in lists" :key="list.name" :value="list.address">
                {{list.name}}
            </option>
        </select>
        <span style="cursor: pointer;" v-on:click="reload">&#x21bb;</span>
    </div>
</template>

<script>
import axios from "axios";

export default {
  name: "MailingListSelect",
  props: ["apiKey"],
  data() {
    return {
      lists: [],
      loading: false
    };
  },
  mounted() {
    this.reload();
  },
  watch: {
    apiKey() {
      this.reload();
    }
  },
  methods: {
    reload() {
      this.loading = true;
      this.lists = [];
      var self = this;
      axios
        .post("/api/lists", { apiKey: this.apiKey })
        .then(
          function(response) {
            self.lists = response.data.data;
            self.loading = false;
            if (self.lists.length > 0) {
              self.$emit("listChanged", self.lists[0].address);
            }
          },
          function(response) {
            // Error
            self.lists = [];
            self.loading = false;
            console.log(response.data);
          }
        );
    },
    listChanged(evt) {
      this.$emit("listChanged", evt.target.value);
    }
  },
  components: {}
};
</script>

<style scoped>
</style>
