<template>
  <div>
    <Graphs :apiKey="apiKey" :domain="domain" :listAddress="listAddress" />
    <h2>
      Events ({{events.length}})
      <button v-on:click="reload({})">Reload</button>
    </h2>
    <div>
      Filters:
      <a href="javascript:void(0);" v-on:click="filter">opened</a> |
      <a href="javascript:void(0);" v-on:click="filter">delivered</a> |
      <a href="javascript:void(0);" v-on:click="filter">accepted</a> |
      <a href="javascript:void(0);" v-on:click="filter">clicked</a> |
      <a href="javascript:void(0);" v-on:click="filter">rejected</a>
    </div>
    <br />
    <table>
      <thead>
        <th>Subject</th>
        <th>Tags</th>
        <th>Time</th>
        <th>Recipient</th>
        <th>Event</th>
      </thead>
      <tbody>
        <tr
          v-for="event in events"
          :key="event.id"
          v-on:click="showModal = true; details.event = event; loadMessageHTML(details.event.storageURL)"
        >
          <td>{{event.subject?event.subject:"n/a"}}</td>
          <td>
            <span v-if="event.tags.length > 0">
              <span v-for="tag in event.tags" :key="tag.id" class="tag tag-tag">{{tag}}</span>
            </span>
          </td>
          <td>{{event.time}}</td>
          <td>
            <span v-for="r in event.recipients" :key="r">
              {{r}}
              <br />
            </span>
          </td>
          <td style="max-width: 300px;">
            <span
              v-for="e in event.events"
              :key="e.id"
              class="tag"
              v-bind:class="e.event"
            >{{e.event}}</span>
          </td>
        </tr>
        <tr v-if="loading" class="message">
          <td colspan="5">Loading...</td>
        </tr>
        <tr v-if="!loading && events.length == 0" class="message">
          <td colspan="5">No events!</td>
        </tr>
      </tbody>
    </table>
    <Modal :showModal="showModal" v-if="showModal" @close="showModal = false; messageHtml = null">
      <h3 slot="header">
        <span v-for="r in details.event.recipients" :key="r">
          {{r}}
          <br />
        </span>
      </h3>
      <div slot="body">
        <p>{{details.event.hash}}</p>
        <iframe
          style="border: solid 1px grey;"
          v-if="details.messageHtml !== null"
          width="640"
          height="500"
          :srcdoc="details.messageHtml"
          frameborder="0"
        ></iframe>
        <p v-if="details.loadingMessageHTML">Loading email...</p>
        <p>Events:</p>
        <div v-for="event in details.event.events" :key="event.id">
          <hr />
          <p>
            event:
            <span class="tag" v-bind:class="event.event">{{event.event}}</span>
          </p>
          <p>time: {{event.time}}</p>
          <p v-if="event.url && event.event == 'clicked'">url: {{event.url}}</p>
          <div v-if="Object.keys(event.clientInfo).length > 0">
            client-info:
            <ul>
              <li v-for="(v, k) in event.clientInfo" v-bind:key="k">{{k}}: {{v}}</li>
            </ul>
          </div>
          <p v-if="event.tags.length > 0">
            tags:
            <span v-for="tag in event.tags" :key="tag.id" class="tag tag-tag">{{tag}}</span>
          </p>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import axios from "axios";
import Modal from "@/components/Modal/Modal.vue";
import Graphs from "@/components/Graphs.vue";

export default {
  name: "Events",
  props: ["apiKey", "domain", "listAddress"],
  data() {
    return {
      loading: false,
      events: [],
      showModal: false,
      details: {
        event: null,
        messageHtml: null,
        loadingMessageHTML: false
      }
    };
  },
  mounted() {
    this.reload();
  },
  watch: {
    domain: function() {
      this.reload();
    },
    listAddress: function() {
      this.reload();
    }
  },
  methods: {
    reload(filter) {
      if (this.apiKey) {
        filter = filter || {};
        this.loading = true;
        this.events = [];
        var self = this;
        axios
          .post("/api/events", {
            apiKey: this.apiKey,
            domain: this.domain,
            listAddress: this.listAddress,
            filter: filter
          })
          .then(
            function(response) {
              self.events = response.data.data;
              self.loading = false;
            },
            function(response) {
              // Error
              self.loading = false;
              self.events = [];
            }
          );
      }
    },
    filter(evt) {
      this.reload({
        event: evt.target.innerText
      });
    },
    loadMessageHTML(storageURL) {
      this.details.messageHtml = null;
      if (storageURL === "") {
        this.details.messageHtml = "message html could not be fetched";
        return;
      }
      this.details.loadingMessageHTML = true;
      let self = this;
      axios
        .post("/api/message/html", {
          apiKey: this.apiKey,
          domain: this.domain,
          storageURL: storageURL
        })
        .then(
          function(response) {
            self.details.loadingMessageHTML = false;
            self.details.messageHtml = response.data.data;
          },
          function() {
            // Error
            self.details.loadingMessageHTML = false;
            self.details.messageHtml = null;
          }
        );
    }
  },
  components: {
    Modal,
    Graphs
  }
};
</script>

<style scoped>
.tag.Delivered {
  background-color: lightskyblue;
}
.tag.Accepted {
  background-color: lightslategray;
}
.tag.Opened {
  background-color: lightseagreen;
}
.tag.Clicked {
  background-color: orange;
}
.tag.Failed {
  background-color: darkred;
}
.tag.tag-tag {
  background-color: #935d2a;
  font-size: 10px;
}
.tag {
  padding: 2px 8px;
  color: white;
  margin-right: 2px;
  display: inline-block;
  margin-top: 1px;
  background-color: lightslategrey;
}
</style>
