<template>
    <div>
        <h2>Stats <button v-on:click="reload">Reload</button></h2>
        <p v-if="loading">Loading...</p>
        <p v-if="!loading && !statistics.total">Not enough events to render graphs.</p>
        <div v-if="statistics.total">
            <div v-for="(chartData, chartName) in statistics.total" :key="chartName" style="width: 25%; display: inline-block; vertical-align: top;">
                <!-- <h4>{{chartName.replace("-", " ")}}</h4> -->
                <UnderlineGraph v-for="(chartDataItem, chartDataKey) in prepareForPercentage(chartData)" :key="chartDataKey" :name="chartDataKey" :percentage="chartDataItem" />
            </div>
        </div>
        <br />
        <Chart v-if="statistics.eventCount" :data="getBarChartData(statistics.eventCount)" :options="{responsive: false, legend: {display: false} }" :height="100" />
    </div>
</template>

<script>
import Chart from "@/components/Chart.vue";
import UnderlineGraph from "@/components/UnderlineGraph.vue";
import axios from "axios";

export default {
  name: "Graphs",
  props: ["apiKey", "domain", "listAddress"],
  data() {
    return {
      statistics: {
        total: null,
        eventCount: null
      },
      loading: false,
      options: {
        responsive: false,
        maintainAspectRatio: true,
        legend: {
          position: "top"
        }
      }
    };
  },
  mounted() {
    this.reload();
  },
  watch: {
    domain: function() {
      this.reload();
    },
    listAddress: function() {
      this.reload();
    }
  },
  methods: {
    reload() {
      if (this.apiKey) {
        this.loading = true;
        this.statistics = [];
        var self = this;
        axios
          .post("/api/statistics", {
            apiKey: this.apiKey,
            domain: this.domain,
            listAddress: this.listAddress
          })
          .then(
            function(response) {
              self.statistics = response.data.data;
              self.loading = false;
            },
            function(response) {
              // Error
              self.loading = false;
              console.log(response.data);
            }
          );
      }
    },
    getBarChartData(chartData) {
      if (!chartData) return { data: [] };
      var colors = [];
      Object.keys(chartData).forEach(function(key) {
        switch (key) {
          case "Accepted":
            colors.push("lightslategray");
            break;
          case "Delivered":
            colors.push("lightskyblue");
            break;
          case "Opened":
            colors.push("lightseagreen");
            break;
          case "Clicked":
            colors.push("orange");
            break;
        }
      });
      return {
        labels: Object.keys(chartData),
        datasets: [
          {
            data: Object.values(chartData),
            backgroundColor: colors
          }
        ]
      };
    },
    getPieChartData(chartData) {
      return {
        labels: Object.keys(chartData),
        datasets: [
          {
            data: Object.values(chartData),
            backgroundColor: [
              "#ff6384",
              "#36a2eb",
              "#cc65fe",
              "#ffce56",
              "red",
              "green",
              "blue"
            ]
          }
        ]
      };
    },
    prepareForPercentage(data) {
      var total = Object.values(data).reduce((a, b) => a + b, 0);
      Object.keys(data).forEach(key => {
        data[key] = Math.round(data[key] / total * 100);
      });
      return data;
    }
  },
  components: {
    Chart,
    UnderlineGraph
  }
};
</script>

<style scoped>
h4 {
  color: #66615b8c;
}
</style>
