<template>
  <div class="login">
    <h1>Login</h1>
      <input type="text" name="apiKey" v-model="input.apiKey" placeholder="Mailgun Api-Key" size="40" />
      <button type="button" v-on:click="login()">Login</button>
      <Modal :showModal="showModal" v-if="showModal" @close="showModal = false">
        <h3 slot="header">Error loggin in</h3>
        <div slot="body">
          {{errorMsg}}
        </div>
      </Modal>
  </div>
</template>

<script>
import Modal from "@/components/Modal/Modal.vue";
import axios from "axios";

export default {
  name: "Login",
  data() {
    return {
      loading: false,
      showModal: false,
      errorMsg: "",
      input: {
        apiKey: ""
      }
    };
  },
  methods: {
    login() {
      if (this.input.apiKey === "") {
        this.errorMsg = "An apiKey must be provided!";
        this.showModal = true;
        return;
      }

      this.loading = true;
      this.errorMsg = "";
      var self = this;
      axios
        .post("/api/login", {
          apiKey: this.input.apiKey
        })
        .then(
          function(response) {
            self.loading = false;
            if (response.data.success) {
              self.$emit("login", response.data);
              return;
            }
            self.errorMsg = response.data.error;
            self.showModal = true;
          },
          function(response) {
            // Error
            self.loading = false;
            console.log(response.data);
          }
        );
    }
  },
  components: {
    Modal
  }
};
</script>

<style scoped>
#login {
  width: 500px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
}
</style>
