<template>
  <div id="nav">
    <router-link to="/dashboard">Dashboard</router-link> |
    <router-link to="/send">Send</router-link> |
    <button type="button" v-on:click.native="logout()">Logout</button>
    <span v-if="!dropboxToken"> | <a href="/api/oauth/connect">Link to Droppbox</a></span>
    <span v-if="dropboxToken"> | <a href="#" v-on:click="removeToken">Reset Dropbox token</a></span>
    <span id="apiKey">API Key: {{ apiKey }}</span>
  </div>
</template>

<script>
export default {
  name: "Nav",
  props: ["apiKey", "dropboxToken"],
  data() {
    return {};
  },
  methods: {
    logout() {
      this.$emit("logout", null);
    },
    removeToken() {
      this.$emit("removeDropboxToken", null);
    }
  }
};
</script>