<template>
  <div>
    <Modal :showModal="showModal" v-if="showModal" @close="showModal = false">
      <h3 slot="header">HTML Template</h3>
      <div slot="body">
        <pre id="template">{{template}}</pre>
      </div>
    </Modal>
    <div>
      <h4>To:</h4>
      <div style="display: inline-block;">
        <label>
          <input type="radio" name="to" v-model="by" value="byEmail"> Email
        </label>
        <br>
        <input size="50" type="text" placeholder="john@example.com" v-model="email">
      </div>or
      <div style="display: inline-block;">
        <label>
          <input type="radio" name="to" v-model="by" value="byMailingList"> Mailing List
        </label>
        <MailingListSelect v-on:listChanged="listName = $event" :apiKey="apiKey"/>
      </div>
    </div>
    <div>
      <h4>From:</h4>Domain:
      <DomainSelect :apiKey="apiKey" @domainChanged="data.domain = $event"/>Name:
      <br>
      <input size="100" type="text" placeholder="Name" v-model="data.fromName">
      <br>Address:
      <br>
      <input size="100" type="text" placeholder="email" v-model="fromEmailFirstPart">
      @{{data.domain}}
    </div>
    <div>
      <h4>Subject:</h4>
      <input size="100" type="text" placeholder="Subject" v-model="data.subject">
    </div>
    <div>
      <h4>
        Body:
        <span>
          (
          <a
            href="javascript:void(0)"
            class="link"
            type="button"
            v-on:click="loadAndShowModal"
          >See HTML body wrapper</a> taken from
          <a href="http://htmlemailboilerplate.com/">http://htmlemailboilerplate.com/</a>)
        </span>
        <button v-if="dropboxToken" type="button" v-on:click="saveAsTemplate">Save as template</button>
        <button v-if="dropboxToken" type="button" v-on:click="loadTemplate">Load template</button>
        <span v-if="loadingTemplate">loading...</span>
      </h4>
      <textarea id="editor" cols="100" rows="9" placeholder="HTML Body" v-model="data.htmlBody"></textarea>
    </div>
    <div>
      <iframe style="width: 100%; height: 400px" :srcdoc="data.htmlBody" />
    </div>
    <div>
      <h4>Email body if the subscribers client does not support HTML:</h4>
      <textarea cols="100" rows="9" placeholder="Text Body"></textarea>
    </div>
    <div>
      <h4>Tags:</h4>
      <div>
        <span v-for="tag in data.tags" v-on:click="removeTag(tag)" class="tag" :key="tag">{{tag}}</span>
        <input v-model="newTag" placeholder="Tag">
        <button v-on:click="data.tags.push(newTag); newTag = ''">+</button>
      </div>
    </div>
    <div>
      <br>
      <button type="button" v-on:click="send">Send</button>&nbsp;
      <span v-if="sending">Sending...</span>
      <span v-if="sent && !sending && success">Email successfully sent!</span>
      <span v-if="sent && !sending && !success">Sending email failed! {{error}}</span>
    </div>
  </div>
</template>

<script>
import MailingListSelect from "@/components/MailingList/MailingListSelect.vue";
import DomainSelect from "@/components/Domain/DomainSelect.vue";
import Modal from "@/components/Modal/Modal.vue";
import axios from "axios";

export default {
  props: ["apiKey", "dropboxToken"],
  data() {
    return {
      editor: null,
      showModal: false,
      template: "",
      loadingTemplate: false,
      sending: false,
      sent: false,
      success: false,
      error: "",
      data: {
        body: "",
        htmlBody: "",
        subject: "",
        fromName: "",
        fromEmail: "",
        toEmail: "",
        tags: [],
        domain: ""
      },
      fromEmailFirstPart: "",
      email: "",
      listName: "",
      by: "byMailingList",
      newTag: ""
    };
  },
  mounted() {
    var self = this;
    this.editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
      mode: "htmlmixed",
      extraKeys: { "Ctrl-Space": "autocomplete" },
      autoCloseTags: true
    });
    this.editor.on("change", function(cm) {
      self.data.htmlBody = cm.getValue();
    });
  },
  computed: {
    computedData() {
      var data = this.data;
      if (this.by === "byEmail") {
        data.toEmail = this.email;
      } else if (this.by === "byMailingList") {
        data.toEmail = this.listName;
      }
      data.fromEmail = this.fromEmailFirstPart + "@" + this.data.domain;
      return data;
    }
  },
  methods: {
    send() {
      this.sending = true;
      var self = this;
      axios
        .post("/api/send", {
          apiKey: this.apiKey,
          data: this.computedData
        })
        .then(
          function(response) {
            self.sent = true;
            self.sending = false;
            self.success = response.data.success;
            if (response.data.error) {
              self.error = response.data.error;
            } else self.error = "";
          },
          function(response) {
            // Error
            self.sent = true;
            self.success = false;
            self.sending = false;
            console.log(response.data);
          }
        );
    },
    loadAndShowModal() {
      var self = this;
      axios
        .post("/api/template", {
          apiKey: this.apiKey
        })
        .then(
          function(response) {
            self.template = response.data.data;
            self.showModal = true;
          },
          function(response) {
            // Error
            self.template = "Could not load template";
            self.showModal = true;
            console.log(response.data);
          }
        );
    },
    removeTag(tag) {
      this.data.tags.splice(this.data.tags.indexOf(tag), 1);
    },
    saveAsTemplate() {
      this.loadingTemplate = true;
      var self = this;
      axios
        .post("/api/saveAsTemplate", {
          apiKey: this.apiKey,
          dropboxToken: this.dropboxToken,
          template: this.data.htmlBody
        })
        .then(
          function(response) {
            self.loadingTemplate = false;
          },
          function(response) {
            // Error
            self.loadingTemplate = false;
            console.log(response.data);
          }
        );
    },
    loadTemplate() {
      this.loadingTemplate = true;
      var self = this;
      axios
        .post("/api/loadTemplate", {
          apiKey: this.apiKey,
          dropboxToken: this.dropboxToken
        })
        .then(
          function(response) {
            self.loadingTemplate = false;
            self.data.htmlBody = response.data.data;
            self.editor.getDoc().setValue(self.data.htmlBody);
          },
          function(response) {
            // Error
            self.loadingTemplate = false;
            console.log(response.data);
          }
        );
    }
  },
  components: {
    MailingListSelect,
    Modal,
    DomainSelect
  }
};
</script>

<style scoped>
#template {
  background: black;
  color: #ccc5b9;
  padding: 10px;
  overflow: scroll;
}
.tag {
  padding: 2px 8px;
  margin-right: 2px;
  color: #66615b;
  border: 1px solid #ccc5b9;
  background-color: #fffcf5;
  cursor: crosshair;
  vertical-align: middle;
}
</style>
