<template>
    <div class="underline-graph">
        <span>{{percentage}}% {{name}}</span>
        <div class="line-holder"><span :style="style" class="line"></span></div>
    </div>
</template>

<script>
export default {
  name: "UnderlineGraph",
  props: ["name", "percentage"],
  computed: {
      style() {
          return "width: "+this.percentage+"%;"
      }
  }
};
</script>

<style scoped>
.underline-graph {
  padding-right: 10px;
}
.line-holder {
    height: 3px;
    width: 100%;
    margin-bottom: 3px;
    background: #ccc5b9;
}
.line {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #333533;
    padding: 0;
}
</style>
