<template>
    <div>
        <h2>Domains <button v-on:click="reload">Reload</button></h2>
        <p v-if="emptyDomainsMsg">{{ emptyDomainsMsg }}</p>
        <ul>
            <li v-for="domain in domains" :key="domain.name">
                <DomainItem :name="domain.name" />
            </li>
        </ul>
    </div>
</template>

<script>
import DomainItem from "@/components/Domain/DomainItem.vue";
import axios from "axios";

export default {
  name: "Domains",
  props: ["apiKey"],
  data() {
    return {
      emptyDomainsMsg: "",
      domains: []
    };
  },
  watch: {
    apiKey() {
      this.reload();
    }
  },
  mounted() {
    this.reload();
  },
  methods: {
    reload() {
      if (this.apiKey) {
        this.emptyDomainsMsg = "Loading...";
        this.domains = [];
        var self = this;
        axios
          .post("/api/domains", { apiKey: this.apiKey })
          .then(
            function(response) {
              self.domains = response.data.data;
              if (self.domains.length == 0)
                self.emptyDomainsMsg = "No domains!";
              else self.emptyDomainsMsg = "";
            },
            function(response) {
              // Error
              console.log(response.data);
            }
          );
      }
    }
  },
  components: {
    DomainItem
  }
};
</script>

<style scoped>
</style>
