<template>
    <div class="Domain">
        <h2>{{ $route.params.domain }}</h2>
        <Events :apiKey="apiKey" :domain="$route.params.domain" />
    </div>
</template>

<script>
import Events from "@/components/Events.vue";

export default {
    name: 'Domain',
    props: ['apiKey'],
    data() {
       return {}
    },
    mounted() {
    },
    methods: {
    },
    components: {
        Events
    }
}
</script>

<style scoped>
</style>
