<template>
    <div>
        <span><a href="javascript:void(0);" v-on:click="go">{{name}}</a></span>
    </div>
</template>

<script>
export default {
    name: 'DomainItem',
    props: ['name'],
    data() {
       return {}
    },
    methods: {
        go() {
            this.$router.push({path: '/domain/'+this.name })
        }
    }
}
</script>

<style scoped>
</style>
