<template>
    <div>
       <select v-on:change="domainChanged">
            <option v-if="loading">Loading...</option>
            <option v-for="domain in domains" :key="domain.name">
                {{domain.name}}
            </option>
        </select>
        <span style="cursor: pointer;" v-on:click="reload">&#x21bb;</span>
    </div>
</template>

<script>
import axios from "axios";

export default {
  name: "DomainSelect",
  props: ["apiKey"],
  data() {
    return {
      domains: [],
      loading: false
    };
  },
  watch: {
    apiKey() {
      this.reload();
    }
  },
  mounted() {
    this.reload();
  },
  methods: {
    reload() {
      if (this.apiKey) {
        this.domains = [];
        this.loading = true;
        var self = this;
        axios
          .post("/api/domains", { apiKey: this.apiKey })
          .then(
            function(response) {
              self.loading = false;
              self.domains = response.data.data;
              if (self.domains.length > 0) {
                self.$emit("domainChanged", self.domains[0].name);
              }
            },
            function(response) {
              // Error
              self.domains = [];
              self.loading = false;
              console.log(response.data);
            }
          );
      }
    },
    domainChanged(evt) {
      this.$emit("domainChanged", evt.target.value);
    }
  },
  components: {}
};
</script>

<style scoped>
</style>
