<template>
    <transition name="modal">
        <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">

            <div class="modal-header">
                <button style="float: right;" @click="$emit('close')">x</button>
                <slot name="header">default header</slot>
            </div>

            <div class="modal-body">
                <slot name="body">
                default body
                </slot>
            </div>

            <div class="modal-footer">
                <slot name="footer">
                <button @click="$emit('close')">
                    Close
                </button>
                </slot>
            </div>
            </div>
        </div>
        </div>
    </transition>
</template>

<script>
export default {
  name: "Modal",
  data() {
    return {
      showModal: false
    };
  }
};
</script>


<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 80%;
  max-width: 642px;
  max-height: 100%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  transition: all 0.3s ease;
  overflow-y: scroll;
}

.modal-header {
  margin-top: 0;
  color: #252422;
  overflow-x: scroll;
}

.modal-body {
  margin-bottom: 10px;
  overflow-x: scroll;
}

/*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

/* .modal-leave-active .modal-container, */
.modal-enter .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
