<!DOCTYPE html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,300" />
    <style>
        body {
            background-color: #f4f3ef;
            color: #66615b;
            font-family: "Muli", "Helvetica", Arial, sans-serif;
        }

        #app {
            width: 1024px;
            margin: auto;
            box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
        }

        .page {
            background-color: #ffffff;
            border: 1px solid #cccccc;
            padding: 20px;
            margin-top: 10px;
        }
    </style>
    <title>Subscribegun | Subscribed</title>
</head>

<body>
    <div id="app">
        <div class="page">
            <h1>Subscribegun</h1>
            <p>{{if .Error}} Error: {{.Error}}{{else}}
                Congratulations! You have successfully subscribed to <strong>{{.List}}</strong>.{{end}}
            </p>
        </div>
    </div>
</body>

</html>