<template>
  <div id="app">
    <Nav
      v-if="authenticated"
      v-on:logout="logout"
      :apiKey="data.APIKey"
      :dropboxToken="dropboxToken"
    />
    <router-view
      v-on:logout="logout"
      v-on:login="setLogin"
      v-on:setDropboxToken="setDropboxToken"
      v-on:removeDropboxToken="removeDropboxToken"
      :data="data"
      :dropboxToken="dropboxToken"
      :authenticated="authenticated"
    />
    <Modal :showModal="showModal" v-if="showModal" @close="showModal = false">
      <h3 slot="header">Heyo!</h3>
      <div slot="body">{{modalMessage}}</div>
    </Modal>
  </div>
</template>

<script>
import Nav from "@/components/Nav.vue";
import Modal from "@/components/Modal/Modal.vue";

export default {
  name: "App",
  data() {
    return {
      showModal: false,
      modalMessage: "",
      authenticated: false,
      data: null,
      dropboxToken: null
    };
  },
  mounted() {
    var data = localStorage.getItem("data");
    if (data === null) {
      this.authenticated = false;
      this.apiKey = "";
    } else {
      data = JSON.parse(data);
      this.authenticated = data.APIKey !== "";
      this.data = data;
    }

    var dropboxToken = localStorage.getItem("dropboxToken");
    if (dropboxToken !== null) {
      this.dropboxToken = dropboxToken;
    }

    if (!this.authenticated) {
      this.$router.replace({ name: "login" });
      return;
    }

    this.modalMessage = "";
  },
  methods: {
    setLogin(response) {
      this.data = response.data;
      localStorage.setItem("data", JSON.stringify(this.data));
      this.authenticated = this.data.apiKey !== "";
      if (this.authenticated) {
        localStorage.removeItem("apiKey");
        this.$router.replace({ name: "dashboard" });
      }
      if (response.code == 201) {
        this.showModal = true;
        this.modalMessage = "Welcome to Subscribegun!";
      }
    },
    logout() {
      localStorage.removeItem("data");
      this.data = null;
      this.authenticated = false;
    },
    removeDropboxToken() {
      localStorage.removeItem("dropboxToken");
      this.dropboxToken = null;
    },
    setDropboxToken(token) {
      this.dropboxToken = token;
      localStorage.setItem("dropboxToken", token);
    }
  },
  components: {
    Nav,
    Modal
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Muli:400,300");

body {
  background-color: #f4f3ef;
  color: #66615b;
  font-family: "Muli", "Helvetica", Arial, sans-serif;
}
#app {
  width: 90%;
  max-width: 1366px;
  margin: auto;
}
#apiKey {
  float: right;
}
.page {
  background-color: white;
  border: 1px solid #ccc5b9;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  border-radius: 3px;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
}
table thead th {
  text-align: left;
  vertical-align: middle;
  padding: 10px 5px 10px 0;
  border-collapse: collapse;
}
table tbody tr td {
  padding: 5px 5px 5px 0;
  border-top: 1px solid #ccc5b9;
  border-collapse: collapse;
}
table tbody tr {
  border-collapse: collapse;
}
table tbody > tr:nth-of-type(2n) {
  background-color: #fff7f0;
}
table tbody tr:not(.message) {
  cursor: pointer;
}
table tbody tr:not(.message):hover {
  background-color: lightgoldenrodyellow;
}

input,
textarea,
.CodeMirror {
  background-color: #fffcf5;
  color: #66615b;
  border: 1px solid #ccc5b9;
  margin-bottom: 3px;
  margin-right: 3px;
  border-radius: 3px;
}

input,
textarea {
  padding: 5px;
}

select {
  margin-bottom: 3px;
  margin-right: 3px;
  border-radius: 3px;
}

.router-link-active {
  font-weight: bolder;
}

button {
  border: none;
  background: #935d2a;
  color: white;
  cursor: pointer;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 6px 12px;
  border-radius: 3px;
}

a {
  color: #66616b;
  margin-bottom: 3px;
  margin-right: 3px;
}
</style>