<template>
    <div>
        <h2>Members ({{members.length}}) <button v-on:click="reload">Reload</button> <button v-on:click="showAddMemberModal = true">Add Member</button></h2>
        <table>
            <thead>
                <th>Name</th>
                <th>Address</th>
                <th>Subscribed</th>
                <th></th>
            </thead>
            <tbody>
                <MemberItem 
                    v-for="member in members"
                    :key="member.name"
                    :apiKey="apiKey"
                    :member="member"
                    :listAddress="listAddress"
                    v-on:updateMember="updateMember"
                    v-on:deleteMember="deleteMember"
                    v-on:click="showMemberDetailsModal = true; memberDetails = member"
                />
                <tr v-if="msg">
                    <td colspan="3">{{msg}}</td>
                </tr>
            </tbody>
        </table>
        <Modal :showModal="showAddMemberModal" v-if="showAddMemberModal" @close="showAddMemberModal = false">
            <h3 slot="header">Add Member</h3>
            <div slot="body">
                <p>
                    Name:<br/>
                    <input size="57" type="text" v-model="newMember.name" placeholder="John Doe" />
                </p>
                <p>
                    Email:<br/>
                    <input size="57" type="email" v-model="newMember.email" placeholder="john@example.com" />
                </p>
            </div>
            <div slot="footer">
                <button @click="createNewMember">OK</button>
                <button @click="showAddMemberModal = false">Cancel</button>
            </div>
        </Modal>
        <Modal :showModal="showMemberDetailsModal" v-if="showMemberDetailsModal" @close="showMemberDetailsModal = false">
            <h3 slot="header" v-if="memberDetails">{{memberDetails.name?memberDetails.name:"n/a"}} ({{memberDetails.address}}) - {{memberDetails.subscribed?"subscribed":"not subscribed"}}</h3>
            <div slot="body" v-if="memberDetails">
                <ul v-if="memberDetails">
                    <li v-for="(val, key) in memberDetails.vars" :key="key">
                        {{key}}: {{val}}
                    </li>
                </ul>
            </div>
        </Modal>
    </div>
</template>

<script>
import MemberItem from "@/components/Member/MemberItem.vue";
import Modal from "@/components/Modal/Modal.vue";
import axios from "axios";

export default {
  name: "Members",
  props: ["apiKey", "listAddress"],
  data() {
    return {
      msg: "",
      members: [],
      showAddMemberModal: false,
      showMemberDetailsModal: false,
      newMember: {
        name: "",
        email: "",
        listAddress: this.listAddress
      },
      memberDetails: null
    };
  },
  mounted() {
    this.reload();
  },
  methods: {
    reload() {
      if (this.apiKey) {
        this.msg = "Loading...";
        this.members = [];
        var self = this;
        axios
          .post("/api/members", {
            apiKey: this.apiKey,
            listAddress: this.listAddress
          })
          .then(
            function(response) {
              self.msg = "";
              self.members = response.data.data;
              if (self.members.length == 0) {
                self.msg = "No members!";
              }
            },
            function(response) {
              // Error
              self.msg = "";
              console.log(response.data);
            }
          );
      }
    },
    updateMember(member) {
      for (let index = 0; index < this.members.length; index++) {
        if (this.members[index].address == member.address) {
          this.$set(this.members, index, member);
        }
      }
    },
    createNewMember() {
      var self = this;
      axios
        .post("/api/members/new", {
          apiKey: this.apiKey,
          data: this.newMember
        })
        .then(
          function(response) {
            if (response.data.success) self.showAddMemberModal = false;
            else alert(response.data.error);
            self.reload();
          },
          function(response) {
            // Error
            console.log(response.data);
          }
        );
    },
    deleteMember(member) {
      for (let index = 0; index < this.members.length; index++) {
        if (this.members[index].address == member.address) {
          this.members.splice(index, 1);
        }
      }
    }
  },
  components: {
    MemberItem,
    Modal
  }
};
</script>

<style scoped>
</style>
