<template>
    <tr>
        <td class="pointer" v-on:click="$emit('click')">{{member.name?member.name:"n/a"}}</td>
        <td class="pointer" v-on:click="$emit('click')">{{member.address}}</td>
        <td>
            <a href="javascript:void(0);" v-on:click="toggleSubscription">{{member.subscribed}}</a>
            <span v-if="msg"> {{msg}}</span>
        </td>
        <td>
            <a href="javascript:void(0);" v-on:click="deleteMember">delete</a>
        </td>
    </tr>
</template>

<script>
import axios from "axios";

export default {
  name: "MemberItem",
  props: ["apiKey", "member", "listAddress"],
  data() {
    return {
      showModal: false,
      msg: ""
    };
  },
  mounted() {},
  methods: {
    toggleSubscription() {
      if (this.apiKey) {
        this.msg = "updating...";
        var self = this;
        axios
          .post("/api/toggleSubscribe", {
            apiKey: this.apiKey,
            listAddress: this.listAddress,
            email: this.member.address,
            name: this.member.name,
            isSubscribed: !this.member.subscribed
          })
          .then(
            function(response) {
              if (response.data.success) {
                self.msg = "updated!";
                self.$emit("updateMember", response.data.data);
              } else self.msg = "failed!";
            },
            function(response) {
              // Error
              self.msg = "failed!";
              console.log(response.data);
            }
          );
      }
    },
    deleteMember() {
      if (this.apiKey) {
        var self = this;
        axios
          .post("/api/members/delete", {
            apiKey: this.apiKey,
            listAddress: this.listAddress,
            email: this.member.address
          })
          .then(
            function(response) {
              if (response.data.success) {
                self.$emit("deleteMember", self.member);
              } else alert("failed!");
            },
            function(response) {
              // Error
              alert("failed!");
              console.log(response.data);
            }
          );
      }
    }
  },
  components: {}
};
</script>

<style scoped>
table tbody tr td.pointer {
  cursor: pointer;
}
table tbody tr:hover {
  background-color: lightgoldenrodyellow;
}
</style>
