<template>
  <div class="page" v-if="authenticated">
    <Domains :apiKey="data.APIKey"/>
    <MailingLists :apiKey="data.APIKey" :token="data.UUID"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Domains from "@/components/Domain/Domains.vue";
import MailingLists from "@/components/MailingList/MailingLists.vue";

export default {
  name: "dashboard",
  props: ["authenticated", "data", "dropboxToken"],
  data() {
    return {};
  },
  mounted() {
    var token = this.$route.query.token;
    if (token !== undefined && token !== null && token !== "")
      this.$emit("setDropboxToken", token);
  },
  methods: {},
  components: {
    Domains,
    MailingLists
  }
};
</script>

<style scoped>
</style>

