<template>
    <div class="page" v-if="authenticated">
      <Domain :domain="domain" :apiKey="data.APIKey"/>
    </div>
</template>

<script>
// @ is an alias to /src
import Nav from "@/components/Nav.vue";
import Domain from "@/components/Domain/Domain.vue";

export default {
  name: "list",
  props: ["authenticated", "data", "domain"],
  data() {
    return {};
  },
  components: {
    Nav,
    Domain
  }
};
</script>

<style scoped>
</style>

