<template>
  <div class="page" id="login">
    <Login v-on:login="loggedIn"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Login from "@/components/Login.vue";

export default {
  name: "home",
  props: ["authenticated"],
  components: {
    Login
  },
  mounted() {
    if (this.authenticated) {
      this.$emit("logout");
    }
  },
  methods: {
    loggedIn(data) {
      this.$emit("login", data);
    }
  }
};
</script>

<style scoped>
</style>
