<template>
  <div class="page" v-if="authenticated">
    <MailingList :listName="listName" :data="data"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Nav from "@/components/Nav.vue";
import MailingList from "@/components/MailingList/MailingList.vue";

export default {
  name: "list",
  props: ["authenticated", "data", "listName"],
  data() {
    return {};
  },
  components: {
    Nav,
    MailingList
  }
};
</script>

<style scoped>
</style>

