<template>
  <div class="page" v-if="authenticated">
    <SendForm :apiKey="data.APIKey" :dropboxToken="dropboxToken" />
  </div>
</template>

<script>
// @ is an alias to /src
import Nav from "@/components/Nav.vue";
import SendForm from "@/components/SendForm.vue";

export default {
  name: "send",
  props: ["authenticated", "data", "dropboxToken"],
  data() {
    return {};
  },
  methods: {},
  components: {
    Nav,
    SendForm
  }
};
</script>

<style scoped>
</style>

